*{
  font-family: "Open Sans", sans-serif;
}

header {
  display: flex;
  align-items: center;
  background-color: #1E2A38;
  color: #FFD43B;
  padding: 2rem;
  flex-direction: column;
  gap: 10px;
  

}

header > img {
  width: 120px;
  margin-left: 1rem;
  margin-right: 20px;
}

header > h1 {
  font-weight: bold;
}

header > h2 {
  font-style: italic;
}